
/****** Contact CIA pages css only ***************/


#rColBG {background-image:none;}

/*** Content Column Scaffold ******************************/

/*** contentColsB-R ***/
#portal-column-two {
	display:none;
}

#footerBlock .footerBlockBGR {background-image:none;}
#footerBlock .footerBlockBGC { margin-right:15px; }
