/*   flags of the world */
.flagsoftheworld_bkgrnd {
	background-image:    url(../graphics/flagsoftheworld_bkgrnd.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	text-align: center;
	vertical-align: middle;
}

.toggleopacity img{
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=40);
-moz-opacity: 0.5;
border:none;
}

.toggleopacity:hover img{
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
-moz-opacity: 1;
border:none;

}
