
#rColBG {background-image:none;}

/*** Content Column Scaffold ******************************/

/*** contentColsB-R ***/
#portal-column-two {
	display:none;
}

#footerBlock .footerBlockBGR {background-image:none;}
#footerBlock .footerBlockBGC { margin-right:15px;}


/* Section Header and Breadcrumb area */
.section-library #portal-breadcrumbs {
/*background:White url(../graphics_wfbook_shell/rtBread_pub_wfb.jpg) no-repeat top right;*/
	background:White url(../graphics/banner.jpg  no-repeat top right;);

}